DirectoryIndex page139817136.html
ErrorDocument 404 /404.html
RewriteEngine On
RewriteCond %{HTTP:X-Forwarded-Proto} =http
RewriteRule ^(.*)$ https://banket-na5.ru/$1 [R=301,L]
RewriteCond %{HTTP_HOST} ^www\.banket-na5\.ru$ [NC]
RewriteRule ^(.*)$ https://banket-na5.ru/$1 [R=301,L]
RewriteRule ^zaly/?$ page170536309.html [L]
RewriteRule ^zaly/bankethall/?$ page170540209.html [L]
RewriteRule ^zaly/ametist/?$ page171373509.html [L]
RewriteRule ^zaly/vystavochny/?$ page171376509.html [L]
RewriteRule ^meropriyatiya/?$ page171379109.html [L]
RewriteRule ^svadba/?$ page171379309.html [L]
RewriteRule ^korporativ/?$ page171380009.html [L]
RewriteRule ^novogodniy\-korporativ/?$ page196143209.html [L]
RewriteRule ^den\-rozhdeniya/?$ page171380109.html [L]
RewriteRule ^furshet/?$ page171380309.html [L]
RewriteRule ^kofe\-breyk/?$ page171380609.html [L]
RewriteRule ^vypusknoy/?$ page219854509.html [L]
RewriteRule ^detskiy\-prazdnik/?$ page171393309.html [L]
RewriteRule ^pominalny\-obed/?$ page219848909.html [L]
RewriteRule ^kejtering/?$ page171393709.html [L]
RewriteRule ^arenda\-oborudovaniya/?$ page171394109.html [L]
RewriteRule ^galereya/?$ page171394309.html [L]
RewriteRule ^contacts/?$ page171642909.html [L]
RewriteRule ^policy/?$ page149515206.html [L]
RewriteRule ^soglasiye\-persdan/?$ page146618776.html [L]
RewriteRule ^polzovatelskoye\-soglasheniye/?$ page151673986.html [L]
RewriteRule ^pravila\-rektekhno/?$ page151676366.html [L]
RewriteRule ^soglasiye\-metrprog/?$ page151678726.html [L]
RewriteRule ^soglasiye\-rekinfo/?$ page151679436.html [L]
RewriteRule ^cookie/?$ page151680726.html [L]
